@charset "utf-8";
body {
    margin: 0;
    background-color: #FEE7F1;
    font-family: 'Playfair Display', serif;
}
header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 80px;
    -webkit-box-shadow: 0px 7px 10px 0px #BDBDBD;
    box-shadow: 0px 7px 10px 0px #BDBDBD;
}
.menu-lista {
    display: flex;
    list-style-type: none;
}
.menu-lista a {
    text-decoration: none;
    color: #64595D;
    padding-right: 50px;
    font-size: 32px;
}
main{
	margin-left: 125px;
    margin-right: 125px;
}
.banner {
    background-image: url(../images/foto.jpg);
    background-position: center center;
    background-size: cover;
    background-color: red;
    height: 692px;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 60px;
}
h1{
    font-size: 160px;
}
#btn {
    text-align: center;
    padding-top: 140px;
}
#boton {
    background-color: #86B24F;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 4px #000000;
    box-shadow: 0px 4px 4px #000000;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 10px 70px;
    font-size: 32px;	
}
.columnas{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.columna1{
    background-color: #94DCF2;
    width: 835px;
    height: 835px;
}
.columna2{
    background-color: #FF99C4;
    width: 835px;
    height: 835px;
}
.columna3{
    background-color: #FFBE3F;
    width: 835px;
    height: 835px;
}
h2{
    font-size: 104px;
    color: #FFFFFF;
    padding-top: 180px;	
}
h4{
    font-size: 40px;
    color: #FFFFFF;
}
.btn {
    text-align: center;
    padding-top: 70px;
}
.boton {
/*    background-color: #86B24F;*/
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 4px #000000;
    box-shadow: 0px 4px 4px #000000;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 10px 70px;
    font-size: 32px;	
}
#boton1{
	 background-color: #FF99C4;
}
#boton2{
	 background-color: #FFBE3F;
}
#boton3{
	 background-color: #94DCF2;
}
.footer {
    text-align: center;
    color: #64595D;
    font-size: 24px;
    padding: 8px
}
.menu-lista-footer {
    display: flex;
    list-style-type: none;
    align-content: center;	
}
.menu-lista-footer a {
    text-decoration: none;
    color: #64595D;
    padding-right: 50px;
}