.banner {
    background-color: #ffbe3f;
    height: auto;
    margin-top: 25px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
    padding: 50px;
}
.banner2 {
    background-color: #94dcf2;
    height: auto;

    color: #ffffff;
    text-align: center;

    font-size: 32px;
    padding: 50px;
}
.banner h2 {
    margin: 0;
    padding: 0;
    /*
    padding-top: 50px;
    padding-bottom: 50px;
*/
    font-size: 104px;
    color: #fc003c;
}
form {
    width: 100%;
    color: #64595d;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

input {
    width: 100%;
    height: 50px;
}

textarea {
    width: 100%;
}

.columna1 {
    /* flex: 50%; */
    width: 50%;
    padding: 20px;
}

.columna2 {
    /* flex: 50%; */
    width: 50%;
    padding: 20px;
}

form label {
    display: block;
    text-align: start;
}

.bloque {
    background-color: rgba(255, 255, 255, 0.51);
    border-color: #5cc5e7;
    border-width: 5px;
    border-radius: 10px;
    /* width: 635px;
    height: 78px; */
}
#submit {
    background-color: #fc003c;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    text-align: center;
    width: 100%;
    /* height: 78px; */
    border-radius: 30px;
}

@media (min-width: 320px) and (max-width: 769px) {
    .columna1 {
        padding: 0;
        width: 100%;
    }

    .columna2 {
        padding: 0;
        width: 100%;
    }
}
