@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-color: #FEE7F1;

}

.main-grid > * {
    /* box-shadow: -1px 1px 50px 0px rgba(0, 0, 0, 0.75); */

    border-radius: 4px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;

    text-align: center;
}

.navigation {
    grid-area: navigation;
    background-color: #85aedd;
}

.content {
    grid-area: content;
    /* background-color: #f5f5f5; */
    background-color: #FEE7F1;
}

.footer {
    grid-area: footer;
    background-color: #FEE7F1;
}

.col-1 {
    display: grid;
    grid-template-columns: auto;
}

.col-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.col-3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.item {
    border: 1px solid green;
}

.button-green {
    background-color: #86B24F;
}

.button-pink {
    background-color: #ff99c4;
}

.button-orange {
    background-color: #ffbe3f;
}

.button-light-blue {
    background-color: #94dcf2;
}

a.button {
    color: white;
    padding: 0.5em 3em;
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 50px;
}

.text-white {
    color: #f5f5f5;
}

span.title {
    font-size: xxx-large;
    font-weight: bold;
}

.navigation {
    margin: 0;
    padding: 0;
    /* box-shadow: 0px 10px 190px -6px black !important; */
}

#navbar {
    display: grid;
    grid-auto-flow: column;
    background-color: #fff;
    grid-gap: 1.5em;
    padding: 20px 40px;
}

#logo {
    display: grid;
    justify-content: space-between;
    align-content: center;
}
.mobile-btn {
    display: grid;
    justify-content: center;
    align-content: center;
}

#links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
}

#links a {
    text-decoration: none;
    color: #333;
    /* font-weight: bold; */
    font-size: 1.3em;
}

#links a:hover {
    color: #0474bc;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#banner {
    min-height: 80vh;
    background-image: url(../images/foto.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner span {
    margin-bottom: 20px;
    font-size: 7em;
}

.regalo-img {
    min-height: 60vh;
    background-image: url(../images/regalos.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-clip: content-box;
}

.envolturas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #94dcf2;
}

.envolturas span {
    margin-bottom: 30px;
}

.envolturas p {
    font-size: large;
    color: #f5f5f5;
    margin-bottom: 20px;
}

.globos-img {
    min-height: 60vh;
    background-image: url(../images/globos.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.globos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff99c4;
}

.globos span {
    margin-bottom: 30px;
}

.globos p {
    font-size: large;
    color: #f5f5f5;
    margin-bottom: 20px;
}

.decora-img {
    min-height: 60vh;
    background-image: url(../images/fiesta.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.decora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffbe3f;
}

.decora span {
    margin-bottom: 30px;
}

.decora p {
    font-size: large;
    color: #f5f5f5;
    margin-bottom: 20px;
}

.footer-nav {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    background-color: #FEE7F1;
}

.footer-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-img img {
    width: 40%;
}

/* MOBILE */
.main-grid {
    display: grid;
    grid-template:
        "navigation" 120px
        "content" auto
        "footer" 100px;
}

/* TABLET */
@media (min-width: 600px) {
    .main-grid {
        grid-template:
            "navigation  navigation" 100px
            "content content" auto
            "footer  footer" 100px /
            200px auto;
    }
}

/* COMPUTADORA */
@media (min-width: 900px) {
    .main-grid {
        grid-template:
            "navigation  navigation navigation" 120px
            "content  content   content" auto
            "footer  footer footer" 100px /
            auto auto auto;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    #links,
    .mobile-menu {
        display: none;
    }
    #logo {
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-gap: 70px;
    }
}

/* Tablet to Desktop */
@media (min-width: 768px) {
    .mobile-btn {
        display: none;
    }
}
