/* 
5CC5E7 azul del boton
 */

#visitanos {
    background-color: #ff99c4;
    padding: 0px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visitanos-texto {
    padding: 50px;
    text-align: start;
    grid-area: visitanos-texto;
}
.visitanos-img {
    grid-area: visitanos-img;
}

.grid {
    display: grid;
}

.visitanos-texto p {
    margin-top: 50px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

.visitanos-texto span {
    font-weight: bold;
}

.visitanos-texto span.title {
    font-size: 5em;
    color: #fc003c;
}

.visitanos-btn {
    color: white;
    padding: 0.5em 1em;
    font-size: 1.3em;
    text-decoration: none;
    border-radius: 50px;
}

.columnas {
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.img1 {
    width: 30%;
}

.img2 {
    width: 30%;
}

.img3 {
    width: 30%;
}

@media (min-width: 320px) and (max-width: 769px) {
    #visitanos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
