.banner {
    /*
    background-position: center center;
    background-size: cover;
*/
    display: flex;
    background-color: #ffbe3f;
    height: auto;
    margin-top: 25px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 50px;
    font-size: 32px;
    padding: 25px;
}

.banner h2 {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 104px;
    color: #fc003c;
}

/* 
5CC5E7 azul del boton
 */

#visitanos {
    background-color: #ff99c4;
    padding: 40px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visitanos-texto {
    text-align: start;
    grid-area: visitanos-texto;
}
.visitanos-img {
    grid-area: visitanos-img;
    padding: 20px;
}

.grid {
    display: grid;
}

.visitanos-texto p {
    margin-top: 50px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

.visitanos-texto span {
    font-weight: bold;
}

.visitanos-texto span.title {
    font-size: 5em;
    color: #fc003c;
}

@media (min-width: 320px) and (max-width: 769px) {
    #visitanos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
