@charset "utf-8";
@import url("estilos-contacto.css");

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: #fee7f1;
    font-family: "Playfair Display", serif;
    min-height: 100%;
}

header {
    grid-area: header;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    -webkit-box-shadow: 0px 7px 10px 0px #bdbdbd;
    box-shadow: 0px 7px 10px 0px #bdbdbd;
}

.menu-lista {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.menu-lista a {
    text-decoration: none;
    color: #64595d;
    padding-right: 20px;
    font-size: 32px;
}
main {
    grid-area: main;
    min-height: 100%;
    padding-left: 15vh;
    padding-right: 15vh;
}
.banner {
    /*
    background-position: center center;
    background-size: cover;
*/
    display: flex;
	background-color: #FF99C4;
    height: auto;
/*    margin-top: 25px;*/
    color: #ffffff;
    text-align: left;
/*    margin-bottom: 50px;*/
	font-size: 32px;
/*	padding: 25px;*/
}

.banner h2 {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 104px;
    color: #FC003C;	
}

.grid-container {
    display: grid;
    grid-template:
        "header" 120px
        "main" auto
        "footer" 100px;
}

/* TABLET */
@media (min-width: 600px) {
    .grid-container {
        grid-template:
            "header  header" 120px
            "main main" auto
            "footer  footer" 100px /
            200px auto;
    }
}

/* COMPUTADORA */
@media (min-width: 999px) {
    .grid-container {
        grid-template:
            "header  header" 120px
            "main    main" auto
            "footer   footer" 120px /
            auto auto;
    }
}
.texto{
	padding: 50px;
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 104px;
    color: #ffffff;
}
h4 {
    font-size: 40px;
    color: #ffffff;
	margin: 0;
    padding: 0;
}
p{
	margin: 0;
    padding: 0;
	padding-bottom: 50px;
}
.btn {
    text-align: center;
    padding-bottom: 20px;
}
.boton {
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 4px #000000;
    box-shadow: 0px 4px 4px #000000;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 10px 70px;
    font-size: 32px;
    background-color: #5CC5E7;
/*
    height: 78px;
    width: 650px;
*/
}

.footer {
    grid-area: footer;
    width: 100%;
    text-align: center;
    color: #64595d;
    font-size: 16px;
    padding: 8px;
}

.footer img {
    width: 2%;
}

.menu-lista-footer {
    display: flex;
    list-style-type: none;
    align-content: center;
}
.menu-lista-footer a {
    text-decoration: none;
    color: #64595d;
    padding-right: 50px;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /* color de fondo del sidenav */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    /* color de letra del sidenav */
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

a {
    font-family: "Playfair Display", serif;
}

/* Mobile to Tablet  */
@media (max-width: 999px )  {
    .menu {
        display: none;
    }

    .logotipo {
        width: 90%;
    }

    .banner h1 {
        margin: 0;
        padding: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 120px;
    }
}

/* COMPUTADORA  */
@media (min-width: 1000px) {
    .mobile-btn {
        display: none;
    }
}

