.col-1 {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    gap: 10px;
    border: 1px solid red;
    margin-bottom: 200px;
}

.col-2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 10px;
    border: 1px solid red;
    margin-bottom: 200px;

}


.col-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 10px;
    border: 1px solid red;
    margin-bottom: 200px;

}

.item {
    border: 1px solid green;
}
